@model CorsoViewModel
<h1>@Model.Nome</h1>
<p><font size="5">@Model.Descrizione</font></p>
<p>Informazioni Informazioni Informazioni Informazioni Informazioni Informazioni Informazioni Informazioni Informazioni Informazioni Informazioni Informazioni</p>
